<!DOCTYPE html>
<html>
<head>
	<title>The Daily Planet</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">

		<h1 class="title">OMBD Movies</h1>

		<form class="form" action="/movies" method="get">
			<label>Movie Name</label>
			<input type="text" name="title"></input> 
			<input type="submit"></input>
		</form>

	</div>