<!DOCTYPE html>
<html>
  <head>
    <title>Webpage</title>
    <style>
      body {
        background-color: goldenrod;
      }

      div {
        background-color: white;
        border: solid black 1px;
      }
    </style>
  </head>
  <body>