<div id="result">
  <a href='/movies/<%= result.imdbID %>'>
  <div class='container'>
      <h3><%= result.Title %></h3>
      <h5> Released: <%= result.Year %></h5>
  </div>
    <img src="<%= result.Poster %>">
  </div>
  </a>
</div>

