<form action='/results' method="get">
  <input id="input" placeholder="What movie would you like find?" type="text" name="search_thingie" />
  <input id="click" type="submit" value="Submit" />
</form>
