<nav>
  <div class="nav-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <form method="GET" action="/results">
            <input type="text" id="search-field" name="movieSearch" placeholder="Search For Movie">
            <input type="submit" value="Search">
          </form>
          <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/articles">Articles</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</nav>
