<!DOCTYPE html>
<html>
<head>
  <title>Movie Searcher</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse navigate" data-spy="affix" data-offset-top="197" style="background: #CCCCCC; border-width: 0px;">
			<ul class="nav navbar-nav navigate">
				<li><a href="/" style="color: #4A76FF;">Home</a>
				<li><a href="/results" style="color: #4A76FF;">Results</a></li>
				<li><a href="/movie" style="color: #4A76FF;">Movie</a></li>
			</ul>
		</nav>