<!DOCTYPE html>
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/main.css">
	<title>OMDB Movie Search</title>
</head>
<body>