    <div class="nav-container"><a href="/" class="db">HOME</a>
    <div class="container">
      <form method="GET" action="/results?">
        <input type="search" placeholder="Search a movie title..." name="search" id="search-input">
        <input type="submit">
      </form>
    </div>
    </div>
    