    <div class="nav-container"><a href="/">HOME</a>
    <div class="container">
      <form method="GET" action="/?">
        <input type="search" placeholder="Search a movie title..." name="search">
        <input type="submit">
      </form>
    </div>
    </div>
  