<img src="<%= result.Poster %>" style="width:100px; display:inline-block;">
<div  style="display:inline-block;"><h2>
  <%= result.Title %>
</h2>
<h3>
  (<%= result.Year %>)
</h3>
<a href="movie/<%= result.imdbID%>">More about the movie.</a>>
</div>
<br>
