
<h1><%= movie.Title %>
  <small><%= movie.Year %></small>
</h1>

<a href="<%= '/movies/?q=' + q %>" class="btn btn-primary">&larr; Back to Search</a>

<div class="well">
  <p><%= movie.Plot %></p>
</div>