<div class='container tag-add'>
	<form action='/favorites/<%= movie.id %>/addTag' method='POST' class='text-center'>
					<input type='text' class='dark-text' id='tag-text' name='tag' placeholder='Tag'>
					<button type='submit' id='comment-button' class='dark-text'>Add Tag</button>
	</form>
</div>