<h1>Add tag for <%= favorites.title %></h1>
<form method="POST">
	<div class="form-group">
		<input type="text" name="tag" class="form-control" placeholder="Your tag" />
	</div>
	<input type="submit">
</form>
