<% comments.forEach(function(comment) { %>
	<p><%= comment.text %><br>
		<small><%= comment.author %></small>
	</p>
<% }); %>

<form method="POST" action="/comments">
<textarea cols="50" rows="8" name="text" placeholder="Enter content"></textarea>
<input type="text" name="author">
<input type="hidden" name="favoriteId" value="<%= favorite.id %>">
<input type="submit" value="Submit">
</form>