<h1>Comments</h1>
<h2><%= favorites.title %></h2>

<form method="POST">
	<div class="form-group">
		<input type="text" name="author" class="form-control" placeholder="Your name" />
	</div>
	<div class="form-group">
		<textarea name="content" class="form-control" placeholder="Your comment"></textarea>
	</div>
	<input type="submit">
</form>

<% comments.forEach(function(comment) { %>
	<p><%= comments.comment %></p>
<% }); %>

