<h1> movie.Title</h1>
<p>movie.Year</p>
movie.Rated
movie.Released. 
movie.Runtime
movie.Genre
movie.Director
movie.Writer
movie.Actors
movie.Plot
movie.Language
movie.Country
movie.Awards
movie.Poster
