<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>
<table>
     <tr>
        <th>Movie Title</th>
        <td><% results %></td>
    </tr>
</table>