<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>
<h2><%=movies.Title %> is a <%=movies.Type%> released in <%=movies.Year%></h2>
<img src="<%=movies.Poster%>" alt="Poster">
