<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

<img src="<%= movies.Poster %> " >
<h3><%= moive.Title %> </h3>
<h4><%= moive.Year %> </h4>



