<h1><%=title%></h1>
<p><%= genre%></p>
<form method="POST" action="/faves">
    <!-- Add Movie: <input type="text"-->
    <input type="hidden" name="title" value="<%= title%>">
    <input type="hidden" name="imdbid" value="<%=imdbid%>">
    <button type="submit">Add to fave</button>
    
</form>