<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

<h1>Movie Details</h1>
<p><%= title %></p>
<p><%= genre %></p>
<form method="POST" action="/fave">
    <!-- Add Movie: <input type="text" name="movieTitle"> -->
    <input type="hidden" name="title" value="<%= title %>">
    <input type="hidden" name="imdbid" value="<%= imdbid %>">
    <button type="submit">Add to fave</button>
</form>