<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>
<table id="details">
    <% for (const key in results) { %>
        <tr>
            <th><%= key %></th>
            <td><%= results[key] %></td>
        </tr>
    <% } %>
</table>