<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

    <h1>Results:</h1>
    <h2>movieData.Title</h2>
    <h3>movieData.Actors</h3>
    <p>movieData.plot</p>
