<h2><%= details.Title%> (<%= details.Year%>)</h2>

<% Object.entries(details).forEach(([key, value]) => { %>
  <% if (key !== "Poster" && key !== "Ratings") { %>  
  <%= `${key} : ${value}` %> </p>
<% }}) %>

<p>Ratings:</p>
<% for (i=0; i < details.Ratings.length; i++) {%>
<% Object.entries(details.Ratings[i]).forEach(([key, value]) => { %>
    <%= `${key} : ${value}` %> </p>
  <% })} %>





