<% // Render individual movie details here %>
<img src="<%=result.Poster%>"/>
<% Object.entries(result).forEach(resultItem=>{ %>
    <% if(resultItem[0] == 'Ratings'){resultItem[1].forEach(arr=>{  %>
        <p><%=`${arr.Source}: ${arr.Value}`%></p>
    <% })} else { %>
    <p><%=`${resultItem[0]}: ${resultItem[1]}`%></p>
 <% }}) %>


<% // This is how to do comments in EJS, by the way... %>
