<div class="container">
  <div class="row py-4 pb-3 text-center">   
    <h3 class="pb-2"><%=q.Title%></h3>
    <ul>
      <li class="pb-2">Year: <%=q.Year%></li>
      <li><img src="<%=q.Poster%>" alt=""></li>
      <li><a href="<%=q.imdbID%>"></a></li>
    </ul>
  </div>
</div>
