

	<h3>your favorites</h3>
		<% fave.forEach(function(movie){ %>
			<div class='well'>
				<h3> <a href="results/<%=movie.imdbId %>"><%= movie.title%></a></h3>
				<p> <%= movie.year%></p>
				<form action="/favorites/<%= movie.id%>/comments" method="GET">
					<button type="submit" class="btn btn-primary">Comment</button>
				</form>
			</div>
		<%})%>		

