<% include ./partials/header.ejs %>


<div class='container'>
	<div class='page-header'>
		<h1>Favorites</h1>
	</div>

	<% favorite.forEach(function(favorite, index) {%>

		<div class="well well2">
			<h3>
				<a href="/show/<%= favorite.imdbID %>">
				<%= favorite.title%>
				</a>
			</h3>
			<p><%= favorite.year%> imdbID: <%= favorite.imdbID %></p>

		</div>
		<%});%>




<% include ./partials/footer.ejs %>