<!DOCTYPE html>
<html>
<head>
  <title>OMDB MOVIE RESULTS</title>
</head>

<body>

<h2> Favorites </h2>

<% favorites.(forEach)function(favorite) { %>
  <a href="/movie/<%= result.imdbID %>"<h3> <%= result.Title %> </h3>

<% }); %>


</body>
</html>