<h1> Your Ten Star Favorites: </h1>
  <div>
    <ul>
    <% favMovies.forEach(function(favMovie) { %>
      <li><a href="/movies/<%= favMovie.imdbId %>"> <%= favMovie.title %> </a>
      <form>
        <a href="/favs/<%= favMovie.imdbId %>/comments"><button type="button">comment</button></a>
        <a href="/favs/<%= favMovie.imdbId %>/tags"><button type="button">tag</button></a>
      </form>
      </li>
      <p></p>
    </ul>
<!--       <button class="addFav">Favorite </button>-->
       <% }); %>
      </div>
