<h1> Your Ten Star Favorites: </h1>

    <% favMovies.forEach(function(favMovie) { %>
      <p> <a href="/movies/<%=favMovie.imdbID%>"> <%= favMovie.Title %> </a></p>
<!--       <button class="addFav">Favorite </button>-->
       <% }); %>

