<h1> Your Ten Star Favorites: </h1>
  <div>
    <ul>
    <% favMovies.forEach(function(favMovie) { %>
      <li><a href="/movies/<%= favMovie.imdbId %>"> <%= favMovie.title %> </a>
      <form method="post" action="/movies/<%= favMovie.imdbId%>/comments/">
        <button type="submit" class="addComment">Comments</button>
      </form>
      </li>
      <p></p>
    </ul>
<!--       <button class="addFav">Favorite </button>-->
       <% }); %>
      </div>
