

  <div class="col-sm-offset-2 col-sm-8" id="foot">
    <div class="text-center">
      <i class="glyphicon glyphicon-apple"></i>
      <i class="glyphicon glyphicon-paperclip"></i>
      <i class="glyphicon glyphicon-eye-open"></i>
    </div>
    <p class="text-center">Sluis Enterprises.</br> 
    year two thousand and sixteen.</br> 
    where the great will not be constrained by the small</p>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>  
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/script.js"></script>

