<div class="container">
  <div class="col-sm-12">

    <h1>OMDB Movie</h1>
    <h1> Search</h1>
  </div>

  <div class="col-sm-offset-1 col-sm-6">
    <form method="GET" action="/movies" class="form" role="search">
      <div class="form-group">
        <label for="">Search:</label>
        <input type="text" class="form-control" id="" placeholder="i.e. Harold and Maude" name="q">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
