<!-- <h1>Let's Find a Movie!</h1>
    <form action="/results" method="get">
        <label for="movieTitle">Enter Movie Title:</label></br>
        <input type="text" name="movieTitle" id="movieTitle">
    <input type="submit" value="Enter">
    </form> -->