<!DOCTYPE html>
<html>
<head>
	<title>OMDB Express API</title>
</head>
<body>

<form action="/results" method="get">
  Movie Title: <input type="text" name="movietitle" placeholder="Type movie here"><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>