<div class="container">
	<h1>Find a movie</h1>

	<% %>
		<div>
			<form action="/results" method="get">
				<input placeholder="Type a movie name in!" name="movie" type="text">
			</form>
		</div>
	<% %>
</div>