<form method="GET" action="/results" id="movieSearch">
	<div class='col-sm-6 col-sm-offset-3'>
		<div class="form-group">
			<input type="text" name="movie" class="form-control" placeholder="Find A Movie...">
		</div>
		<input type="submit" class="btn btn-block btn-primary" value="Search">
	</div>
</form>