<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Express APIs</title>
</head>
<body>
    <h1>Star Wars</h1>

    <% episodes.forEach(e => { %>
        <div>
            <h2> <%= e.Title %> (<%= e.Year %>)</h2>
            <img src="<%=e.Poster%>" alt="Poster">
        </div>

   <% }) %>   
    


</body>
</html>