<h3 class="text-center">Search for movie info!</h3>
<form method="GET" action="/results">
<div class="form-group">
	<label for="movieSearch">Movie: </label>
	<input type="text" name="movieSearch" id="movieSearch" class="form-control">
</div>
<input type="submit" name="search" class="btn btn-success">

</form>