<form method='GET' action='/results'>
  <div class="row">
    <div class="col-8">
      <div class="input-group mb-3">
        <input class="form-control" type="text" name="movie" placeholder="Enter a movie title" />
        <div class="input-group-append">
          <input class="btn btn-primary" type="submit" value="Search Database" />
        </div>
      </div>
    </div>
  </div>
</form>