<div class="container">
	<h2>Movie Search</h2>
	<h3>Search movies here</h3>

	<form action="/results" method="get" type="submit">
	  <input type="text" name="results" placeholder="movie">
	  <input type="submit" value="Submit">
	</form>

</div>

<%#name="results"%>



