<h1> Welcome Home </h1>

<h2>Search for a movie!</h2>
<form method='GET' action='/search'>
	<div class='form-group'>
		<label form='search'>Name of movie:</label>
		<input type='text' name='search' placeholder='search for movie...' class='form-control'>
	</div>
	<input type='submit' value='Enter' class='btn btn-success'>
</form>