<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form type="submit" action="/results">
      <input type="text" name="name">
      <input type="submit" value="Search">
    </form>
  </body>
</html>
