<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ID Search Result</title>
</head>
<body>

	<h2>ID Results Here</h2>

	<% movies.forEach(function (movie) { %>
		<img src="<%= movie.Poster %>" >
		<p> Title is <%= movie.Title  %></p>
		<p> Year is <%= movie.Year  %></p>
<% }); %>

	
</body>
</html>