<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form action="/search" method="GET">
  <label for="searchInput">Search A Movie</label>
  <input
    type="text"
    name="userInput"
    id="searchInput"
    placeholder="Search a movie!!!"
  />
  <input type="submit" value="Submit" />
</form>
