
<div class='container text-center'>
	<h1>Movie Search</h1>
		<form action="/results">
			<input type="text" name="title" placeholder="ex Pitch Perfect">
			<input type="submit">
		</form>
</div>
<div class="container text-center">
<div class="row"
	<form method="GET" action="/favorites">
	<button type="submit" class="btn btn-info">Your Favorites</button>
	</form>
</div>
</div>
