<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form method="GET" action="/results">
    <label for="titleFilter"></label>
    <input id="titleFilter" type="text" name="titleFilter">
    <input id='button' type="submit">
</form>