<h1 class="title">OMDB Movie Search</h1>
<p class="desc">Search for a movie below...</p>

<form action="/results" method="GET">
    <input type="text" placeholder="Title" name="q" class="search">
    <input type="submit" value="Search" class="search search-button">
</form>