<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form action='/results' method='GET'>
    <label for='title'>Title</label>
    <input name='title' id='title'>
    <button type='submit'>Search</button>
</form>