<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form action="/results"method="GET"></form>
<label for "userSearch">Movie name:</label>
<input type="text" id="userSearch" name="SearchMovie"
<button type="submit">Search</button>