<h1>OMDB Movie Search</h1>
<p class="searchLabel">Search for a movie below...</p>

<form method="GET" action="/results">
    <label for="inputSearch">Search:</label>
    <input type="text" id="inputSearch" placeholder="Search" name="search">

    <input type="submit" value="Submit">

</form>