<!DOCTYPE html>
<html>
<head>
	<title>OMDb Search</title>
</head>
<body>
	<h1>Search for Movies</h1>

	<form method="GET" action="/results">
		<DIV>
			Movie Title: 
			<input type="text" name="searchInput" placeholder="Enter Movie Here">
		</DIV>
		<DIV>
			<input type="submit" value="Search Movies" id="searchBox">
		</DIV>	
	</form>


</body>
</html>