<p>Search for a movie below...</p>

<form method="GET" action="/search">
  <label for="s">Find you movie here: </label>
  <input id="s" type="text" placeholder="Titanic" name="s">

  <button type="submit">Search</button>
</form>