<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<!-- // build a form with text input and submit <button></button> -->

<form method="GET" action="/results">
    <label for="q">Input a movie title:</label>
    <input id="q" type="text" name="q" required>
</form>