<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<!-- <form method='Get' action='http://www.omdbapi.com/?i=tt3896198&apikey=${omdbApiKey}'>
    <label>Movie Title</label>
    <input type='text' value='<%= movie.Title %>' name='name' />
    <input type='submit' />
</form> -->