<!DOCTYPE html>
<html>
<head>
	<title>OMDb SEARCH</title>
</head>
<body>


<form method="GET" action="/results">
	<div>
		Search Movie:
		<input type="text" name="uNeek" placeholder="Search movies">
	</div>
		<input type="submit" value="Search Movie">
	</div>
</form>

</body>
</html>