<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form method="GET" action="/search">
    <label for="movie-search">Title:</label>
    <input id="movie-search" type="text" placeholder="ex. Star Wars" name="userInput" />
    <button type="submit">Search</button>
</form>