<div class="row topimg">
    <img src="./img/home_warcraft.jpg" alt="">
  </div>
  <div class="container">

    <div class="row models">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="./img/alien.jpg">
        <h3>Alien</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="./img/star_wars.jpg">
        <h3>Star Wars</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="./img/frozen.jpg">
        <h3>Frozen</h3>
      </div>
    </div>
