<% include ./partials/header.ejs %>

<h1>Find-a-Flick!</h1>
<form action="results">
  <div class="mdl-textfield mdl-js-textfield">
    <input name="search" class="mdl-textfield__input" type="text">
    <label class="mdl-textfield__label">Text...</label>
  </div>
</form>

<% include ./partials/footer.ejs %>