<!DOCTYPE html>
  <html>
    <head>
      <meta charset='utf-8' />
      <title>Movie Search</title>
    </head>
    <body>

      <form method="GET" action="/results">
        <label for="title">Movie Title</label>
        <input id="title" type="text" name="title">

        <input type="submit" value="Submit Your Movie Title">
      </form>

    </body>
  </html>
