<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<title>OMDB Movie Search</title>
<form method="GET" action="./results">
    <label for="movieTitle">Type in a movie title </label>
    <input type="text" name="title">
    <input type="submit" value="Submit">
</form>