<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<small>include any punctuation in the official movie title</small>
<form method="GET" action="/results">
    <label for="movie title input">Search by Movie Title</label>
    <input type="text" name="movieTitle">
    <input type="submit">
</form>