<!DOCTYPE html>
<html>
<head>
  <title>OMDB Search</title>
</head>
<body>
<h1>SEARCH OMDB</h1>
  <form method="POST" action="/search" id="searchInput">
    <label for="searchInput">Search</label>
    <input type="text" name="search">
    <input type="submit">
  </form>
</body>
</html>