<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<form method="POST" action="/results">
  <label for="resultsTitle">Title of Movie</label>
  <input type="text" name="title">

  <label for="resultBody">About the Movie</label>
  <input type="text" name="body">

  <input type="submit">
</form>


</ul>
</body>
</html>