<h1>OMDB Movie Search</h1>

<form method="GET" action="/results">
    <label for="titleSearch">Search for your favorite movie title:</label>
    <input id="titleSearch" type="text" name="titleSearch">
    <input type="submit" value="search">
</form>