<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form method="GET" action="/results">
  <!-- <label for="q">search</label> -->
  <input id="" type="text" placeholder="Enter movie title here" name="q" />
  <input type="submit" />
</form>
