<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form method="GET" action="/results">
    <label for="movie-input">Title:</label>
    <input type="text" id="movie-input" placeholder="Enter a movie title..." name="title" />

    <button type="submit">Search</button>
</form>