<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form method="GET" action="/results">
  <label for ="omdbapi-search">Search:</label>
  <input type="text" id="omdbapi-search" placeholder="enter your search..." name="searchtitle" />
  <!-- <input type="number" name="number" /> -->

  <input type="submit" />
</form>