<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form method="GET" action="/results">
    <label for="searchBar">Find Your Fave Film</label>
    <input id="searchTerm" name="searchBar" type="text" value="">
    <input type="submit" value="Let's Go">
</form>