<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form method="GET" action="/results">
    <label for="movieResult"></label>
    <input type="text" name="movieResult" id="movieResult">
    <button type="submit">Submit</button>
</form>