 

<h1 class="col-md-5">Searching for movies</h1>
<form action="/movies" method="GET" role="form" class="col-md-offset-1 col-md-9">
  <legend>Search for movies</legend>

  <div>
    <label for="">Search</label>
    <input name="q" type="text" class="form-control" id="" placeholder="ex. Lord of the rings"></input>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button> 
</form>

