<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form id="movieSearch" action='/results' method="GET">
  <input placeholder='search' type="text" name="searchTerm">
  <input placeholder='search' type="submit">
</form>