<p>Search for a movie below...</p>
<form method="GET" action="/results">

  <label for="q">Search</label>
  <input class="text-capitalize" type="text" value="" name="q">

  <input class="btn btn-dark" type="submit">
</form>