<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<a href = "/favorites">
			<button id="favorite_view" type="button" class="btn btn-info favorites block">
				<label>View Favorites</label>
			</button>
		</a>
	</div>
</div>