<h1 id="main-title">OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form method="get" action="/results">
    <input class="text-field" type="text" name="query" placeholder="Movie"/>
    <div id="submit-box">
        <input class="submit-button" type="submit" value="Search"/>
    </div>
</form>