<!DOCTYPE html>
<html>
<head>
  <title>Search Movies</title>
</head>
<body>
  <h2>The Big Ol' Sloppy Movie Search</h2>
  <form method="get" action="/results">
    <label>Look for a movie</label>
    <input type="text" name="q">
    <input type="submit">
    
  </form>
</body>
</html>