<!DOCTYPE html>
<html>
<head>
  <title>OMDB Search</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>

  <h1>Welcome to the OMDB search.</h1>
  <h2>Search for a movie... or do not... whatever...</h2>

  <form action="/result" method="GET">
    <input type="text" name="q" placeholder="Type something to search for.">
    <input type="submit">
  </form>
</body>
</html>