<p>Search for a movie below...</p>

<form method="GET" action="/results">
    <label for="result-input">Search:</label>
    <input id="result-input" type="text" placeholder="enter a movie name..." name="userInput"/>

    <button type="submit">Submit</button>
</form>