<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<!-- create form and use get method with an action of /results -->
<form method="GET" action="/search">
    <input id="search" type="text" placeholder="movie title" name="userInput"/>
    <input type="submit" />
</form>