<h1>OMDB Movie Search</h1>

<p> Choose your movie</p>

<form method="GET" action="/results">
    <label for ="search-input"> Search:</label>
    <input type ="text" placeholder="Choose your adventure..." name="userInput"/>
    <button type = submit> Submit</button>
  
</form>