<!DOCTYPE html>
<html>
<head>
	<title>Search for a movie!</title>
</head>
<body>
	<form method="GET" action="/results">
		<label for='movieTitle'>Enter a movie title: </label>
		<input id='movieTitle' type='text' name='title'>

		<input type='submit' value='Submit Search'>
	</form>
</body>
</html>