<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form method="GET" action="">
    <label for="nameFiter">Search Movies Here</label>
    <input id="nameFilter" type="text" name="nameFilter">
    <input type="submit">
</form>
