<h1>OMDB Movie Search</h1>
<h3>Search for a movie below...</h3>

<form method="GET" action="/results">
  <input type="text" id="fname" name="q" ><br>
  <br>
  <input type="submit" value="Search">
</form> 
  