<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<!-- GET method is required [client is sending data]-->
<!-- action must equal the app.get('___' in index.js) -->
<form method="GET" action="/results">
    <label for="omdb-search">Search</label>
    <!-- id must be = to the for label -->

    <!-- WHY DOES changing the name from search to something not work? -->
    <input type="text" name="q" placeholder="enter your search" id="omdb-search">
    <!-- submit button -->
    <input type="submit">
</form>