<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form method="GET" action="/results">
    <!-- we use the following for putting text before the search bar -->
    <!-- <label for="movieResult"></label> -->
    <input type="text" name="q">
    <button type="submit">Search</button>
</form>