<!DOCTYPE html>
<html>
<head>
	<title>Movie Search</title>
</head>
<body>
	<h1>Movie Search</h1>
	<div>
		<form method="GET" action="/results">
			<div>Search the movie database</div>
			<div>
				<input type="text" name="q">
			</div>
			<div>
				<input type="submit">
			</div>
		</form>
	</div>
</body>
</html>