<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  <title>OMDB stuff</title>
</head>
<body>
<h1>Welcome to my OMDB search page!</h1>
  <h2>Search for a movie!</h2>
  <form action="/results" method="get">
    <input type="text" name="q">
    <input type="submit">
  </form>
</body>
</html>
