<% include ../partials/header.ejs %> 


  <form  action="/movies" method="get" role="form">
        <legend>Search for Movies</legend>

        <div class="form-group">
        <label for="">Search</label>
        <input type="text" class="form-control" id="" placeholder="ex. Star Trek" name="q">
        <input type="submit"></input>  
        </div>
      </form>

<% include ../partials/footer.ejs %>