<!DOCTYPE html>
<html>
  <head>
    <title>Movies</title>
  </head>
  <body>
    <h1><%= movies %></h1>
    <ul>
      <% movies.forEach(function(movie) { %>
        <li><%=  %></li>
      <% }) %>
    </ul>
  </body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
  <title>Page</title>
</head>
<body>
  <%- body %>
</body>
</html> -->root of views folder? Where is that?     