<!DOCTYPE html>
<html>
<head>
	<title>Movie Search Madness</title>
</head>
<body>
	<h1> Search for Movie Here </h1>
	<form action ="result">
		<input placeholder="search for movie here" name="search">
		<button type="submit"> Submit Search </button>
	</form>

</body>
</html>