<h1> MOVIES?! </h1>

<form method="GET" action="/movies" role="form">
  <legend> movies movies movies movies </legend>

    <div class = "form-group">
      <input type="text" id="" placeholder="movie title here" name="q">
      <button type="submit" class="btn btn-success">Search</button>
    </div>
</form>