<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form action='/results' method='GET'>
    <label for='q'>Title</label>
    <input name='q' id='q'>
    <button type='submit'>Search</button>
</form>