<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form action="/results" method="GET"> 
    <input type="text" name="searchTerm" id="searchTerm">
    <input type="submit" value="submit">
</form>