<h1>OMDB Movie Search</h1>
<p>Start browsing through movies below.</p>

<form action="/results" method="GET">
    <input placeholder="search movie database" type="text" name="searchTerm">
    <input type="submit">
</form>