<h4 class="text-center">IMDB Search</h4>

<form method="GET" action="/results">
	<div class="form-group">
		<label>Search for Movies</label>
		<input type="text" name="movie" id="results">
	</div>
	<input type="submit" value="search" class="btn btn-danger">
</form>