<h1 class='text-center'>OMDB Movie List</h1>
<div class='text-center' id='search-container'>
	<form action="/results" method="GET" role="form" class='form-inline'>
		<div class="form-group">
			<label for="">Search:</label>
			<input type="text" class="form-control text-center" id="search" placeholder="Input field" name='q'>
		</div>
		<button type="submit" class="btn btn-primary">Search</button>
	</form>
</div>
