<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<!-- forms MUST have an action AND a method -->
<form method="GET" action="/results">
    <label for="omdb-search">Search:</label>
    <input type="text" id="omdb-search" placeholder="enter movie title here" name="q"/>
    <input type="submit"/>
</form>