<h1 id="main-title">OMDB Movie Search</h1>
<form method="get" action="/results">
    <input class="text-field" type="text" name="query" placeholder="Search Movies"/>
    <button class="submit-button" type="submit">☌</button>
</form>