<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form method="GET" action="/results">
  <label for="OMDb-search">Search:</label>
  <input
    type="text"
    id="OMDb-search"
    placeholder="enter your search..."
    name="search"
  />
  <!-- <input type="number" name="number" /> -->
  <input type="submit" />
</form>
