
  <h1>Movie Search</h1>
  <form action="/results">
    <input type="search" placeholder="movie search" name="q">
    <button type="submit">Submit</button>

  </form>

	<form method="GET" action="/favorites">
		<button type="submit">Your Favorites</button>
	</form>
