<h1>Welcome Good People</h1>
<h3>Search for a movie to get info</h3>


<form method="GET" action="/searchResults">
<div>
	Movie Title:
	<input type="text" name="searchInput" id="searchInput" placeholder="type a movie name here">
</div>
<div>
	<input type="submit" value="Search">
</div>
</form>