<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<!-- search form that lets the user search the OMDB API -->
<form method="GET" action="/results">
    <label for="search-input">Search:</label>
    <input id="search-input" type="text" placeholder="Enter your search..." name="movieInput" />

    <button type="submit">Search OMDB</button>
</form>