<h2 style="text-align: center;"><a href="/faves">Favorite Movies Page</a></h2>
<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form action="/results" method="GET">

    <label for="s">Title</label>
    <input type="text" name="s" id="s">

    <br>
    <br>

    <input type="submit" value="Submit">
</form>