<h1>OMDB Movie Search</h1>


 <img src="/img/moviebaccc.jpeg"/>

<form class="container" method="GET" action="/results">
    <p>Search for a movie below...</p>
    <label for="search">Search:</label>
    <input id="search" type="text" placeholder="enter movie name.." name="userInput"/>
    <input type="submit"/>
</form>

<style>
    body{
        background-color: darkgrey;
        text-align: center;
    }
    .container {
        text-align: center;
    }
</style>