<!DOCTYPE html>
<html>
<head>
  <title>MOVIE SEARCH</title>
</head>

<body>

<h1> MOVIE SEARCH </h1>



<form method="GET" action="/results">
  <label for="searchTerm">Search For</label>
  <input type="text" name="search" placeholder="Enter Move Name">

  
  <input type="submit">
</form>


</body>

</html>