<h1> l00k 4 m0v!3 h4r3 </h1>
<div class = "form-group">
	<form action ="result">
		<input placeholder="search for movie here" name="search">
		<button type="submit"> Submit Search </button>
	</form>
</div>