<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form method="GET" action="/results.ejs">
    <label for="omdb-search">search:</label>
    <input type="text" name="search" id="omdb-search" placeholder="search...">
    <input type="submit" />
</form>