<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form action="/results" method="GET">
    Title: <input type="text" name="Title">
    Year: <input type="text" name="Year">
    <input type="submit" value="Search">
    <input type="submit" value="Reset">
</form>