<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<!-- // build a form with text input and submit <button></button> -->

<form method="GET" action="/results">
    <label for="nameFilter">Input a movie title:</label>
    <input id="nameFilter" type="text" name="q" value="">
    <input type="submit">
</form>