<h1>Search OMDB</h1>
<form action="/search/movies" method="GET">
  <input type="text" name="q" required>
  <input type="submit">
</form>

<!-- the value of name (in this case "q" is what shows up in the URL) -->
<!-- Get is the default -->
<!-- action is where the data is being sent to -->
