
<html>
<head>
<title>Movie Database</title>
</head>
<body>
<h2 class="text center">OMDB Movies</h2>
<div class='container-fluid'>
  <form action="/movies" method="GET">
  <div class="form-group">
    <input type="text" name="q">
    </div>
    <input type="submit" value="Search" class="btn btn-primary">
    </form>

</div>
</body>
</html>