<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form method="GET" action="/results">
  <label for="search">Search</label>
  <input
    id="search"
    type="text"
    placeholder="Search for a movie..."
    name="userInput"
  />
  <input type="submit" />
</form>
