<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>



<form method="GET" action='/search'>
    <label for='search'>Search:</label>
    <input id='search' type='text' placeholder='enter your query...' name="userInput" />
    <input type="submit">
</form>
