<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form method="GET" action="/results">
    <label for="search-input">Search:</label>
    <input id="search-input" type="text" placeholder="Movie" name="q" />

    <button type="submit">Submit</button>
 </form>