<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>APIs and Express</title>
  </head>
  <body>
    <h1>Does this work?</h1>
    <% movies.forEach(function(movie){ %>
          <img src="<%= movie.Poster %>">
    <% }); %>
  </body>
</html>
