<h1 style="color:#fffdcd; text-shadow: 8px 8px 20px  #ffd900; font-size: 130px;">OMDB Movie Search</h1>

<div style=" width: 10cm; height: 5cm; box-shadow: 15px 15px 7px #000000; background-color: #bb0a1e; margin:auto; font-size: 30px; padding: 10px;">

    <p>Search for a movie below...</p>

    <form method="GET" action="/results">
    <label for="search-input">Search:</label>
    <input style="background-color: #fcd966;" id="search-input" type="text" placeholder="enter your query..." name="movieInput" />

    <button style="background-color: #fcd966;" type="submit">submit</button>
    </form>

</div>
