<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form method="GET" action="/results">
    <label for="movie">Movie:</label>
    <input id="movie" type="text" name="q">

    <input type="submit">
</form>