<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form method="GET" action="/results">
    <label for="movieFilter">Filter By Movie</label>
    <input id="movieFilter" type="text" name="movieFilter">
    <input type="submit"> 
</form>
