<h1 style="color: #AE72DC">Let's Learn About Movies</h1>

 <nav>
    <div class="nav-wrapper">
      <form action="/results" role="search">
        <div class="input-field">
          <input name="movieChoice" id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
