<html>
<body>

	<h1>(site index page)</h1>

	<form method="get" action="/results">
		Search for movie info
		<input type="text" name="q">
		<input type="submit" value="Search">
	</form>

</body>
</html>