<!DOCTYPE html>
<html>
  <head>
    <title>Movies</title>
  </head>
  <body>
    <form action="/movies" method="GET">
    <input type="text" name="search">
    <input type="submit"> 
    </form>
  </body>
</html>

    