<% include ../partials/header.ejs %> 

<form action="/movies" method="get" role="form">
    <legend>MOVIE SEARCH</legend>

    <div class="form-group">
        <input class="form-control" id="" name="q" placeholder="ex. Star Trek"
        type="text"> <input type="submit" value="Search">
    </div>
</form>
<% include ../partials/footer.ejs %>