<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form method="GET" action="/results" >
    <label for="q">Movie title</label>
    <input id="q" type="text" name="s">
    <button type="submit" value="Search">Search</button>
   
</form>