<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form method="GET" action="/results">
    <label for="movie-search">Search:</label>
    <input type="text" id="movie-search" placeholder="enter your movie search..." name="q">
    <input type="submit">
</form>