<!DOCTYPE html>
<html>
  <head>
    <title>Search Movie Database</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
   <div class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <ul class="nav navbar-nav" style="list-style-type: none">
            <li><a class="active" href="../">Search Movie Database</a></li>
          </ul>
        </div>
      </div>
    </div>
      <form method="get" action="/results">
        <input type="search" name="q">
        <input type="submit">
      </form>
  </body>
</html>