<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>OMDB Epress API</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
  <body>
    <!-- <h1>Movie Search</hi> -->

    <form method="GET" action="/results">
    <label for="movieSearch">Search Movies</label>
    <input type="text" name="title">
    <input type="Submit" value="Submit">

  </form>
  </body>
  </html>
