<!DOCTYPE html>
<html>
  <head>
    <title>Kyle's Movie Search</title>
  </head>
  <body>
    <form method="GET" action="/results">
      <lable for="search">Search: </lable>
      <input type="text" name="search">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
