<div class="main">
    <h1>Levin <span class="tv">TV</span></h1>
    <p>Search Movie</p>
    <form method="GET" action="/results">
        <label for="movieTitle"></label>
        <input type="text" name="movieTitle" id="movieTitle">
        <input type="submit" class="button" />
      </form>
</div>
