<h1 class='text-center'>OMDB Movie List</h1>
<form action="/results" method="GET" role="form" class='text-center'>
	<div class="form-group">
		<label for="">Search:</label>
		<input type="text" class="form-control" id="search" placeholder="Input field" name='q'>
	</div>

	

	<button type="submit" class="btn btn-primary">Search</button>
</form>
