<h1>OMDB Movie Search</h1>
<!-- <p>Search for a movie below...</p> -->

<form method="GET" action="/search">
    <label for="search">Search for a movie: </label>
    <input type="text" name="userInput" id="search" placeholder="enter a title ...">
    <input type="submit">
</form>