<!DOCTYPE html>
<html>
<head>
  <title>Movie Database Search</title>
</head>
<body>
  <h2>Welcome to the Movie Database Search</h2>

  <form method="GET" action="/results">
    <div>
      Movie Name:
      <input type="text" name="searchInput" placeholder="Movie Name">
    </div>
    <div>
      <input type="submit" value="SEARCH DATABASE" id="seachBox">
    </div>
</form>
</body>
</html>
