<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form method="GET" action="/results">
  <lable for="search"></lable>
  <input type="text"  id="search" name="movieSearch" />

  <input type="submit" />
</form>