<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form method="GET" action="/results">
<label for="movieFilter">Find a Movie</label>
<input type="text" name="s" id="movieFilter">
<button type="submit">Search</button>
</form>

