<!DOCTYPE html>
<html>
<head>

	<title>Search your movie here</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>

<!-- form action is always post, but action is the post route -->
	<form method="POST" action="/results"> 
			<label for="title">Title</label>
			<input id="title" type="text" name="title">

			<input type="submit" value="Submit Your title">
	</form>
	<script src="/js/script.js"></script>
</body>
</html>

