<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form method="GET" action="/results">
    <label for="q"></label>
    <input id="q" type="text" name="q">
    <input type="submit">
</form>