<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<!-- 
    search form that lets user search the OMBD api

 -->

 <form method="GET" action="/results">
    <label for="search-input">Search:</label>
    <input id="search-input" type="text" placeholder="enter your search..." name="movieInput" />

    <button type="submit">Search OMBD</button>
 </form>