<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form action="/results" method="get">
  <label for="search-input">Search</label>
  <input type="text" id="search-input" name="q" />
  <button type="submit">Search</button>
</form>
