<div class="main">
    <h1>Levin <span class="tv">TV</span></h1>
    <p>Search Movie</p>
    <form method="GET" action="/results">
        <label for="q"></label>
        <input type="text" name="q" id="q">
        <input type="submit" class="button" />
      </form>
</div>
