<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>


<form method="GET" action="/results">
    <label for="nameFilter">Movie Title:</label>
    <input id="results" type="text" name="q">
    <input type="submit">
</form>

