<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
  </head>
  <body>
    <h1>This is the home page</h1>
    <form action="/results">
    <input type="text" name='title'>
    <input type="submit" value="Search">
    </form>
<h3 id="notamovie" style="display:none">NOT A MOVIE</h3>
</script>
  </body>
</html>
