<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
<form method="get" action="/search">
    <label for="search-input">Search</label>
    <input id="search-input" type="text" placeholder="input a movie title" name="userInput">
    <button>Submit</button>
</form>
