<h1> Welcome to the Movie Search! </h1>

<form action="/movies" method="GET" role ="form">
	<legend> Search for Movies </legend>

	<div class= "form-group">
	<Label for "">Search</Label>
	<Input type="text" class="form-control" id='' placeholder="ex. Back to the Future" name="q">
	</div>

<button type= "submit" class= "btn btn-primary">Submit</button>
<html>
