<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form mathod="GET" action="/results">
    <label for="title">Movie Title: </label>
    <input type="text" name="q" id="title">
    <input type="submit">
</form>