
  
<h1>Movie Search</h1>
  
<form method="get" action="/movies" role="form">
  
<input type="text" class="form-control" id="" placeholder="Back to the Fruiture" name="q">
<button type="submit" class="btn btn-primary">Submit</button>
</form>

