<h2>Home</h2>

<form method="post" action="/">
  <div class="form-group">
    <label for="title">Movie title:</label>
    <input type="text" name="title" id="title" class="form-control" placeholder="movie title">
  </div>
  <input type="submit" class="btn btn-success" value="Search">
</form>
