<h1>OMDB Movie Search</h1>
<h3>Search for a movie below...</h3>

<form method="GET" action="/results">
    <label for="omdb-search">Search: </label>
    <input type="text" id="omdb-search" placeholder="enter your search..." name="s">
    <input type="submit">
</form>