<div class="main-container">

    <%searchResults.forEach(element => {%>
        <br />
        <a href="/detail?i=<%=element.imdbID%>"><%=element.Title%> - <%=element.Year%> - <%=element.imdbID%></a>
        <%})%>
    <!-- content goes here -->
</div>