<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		body {
			background-color: #333;
			color: white;
			font-family: sans-serif;
		}
		h1 {
			margin: 0 auto;
			margin-top: 10%;
			text-align: center;
		}
		form {
			margin: 0 auto;
			text-align: center;	
		}
	</style>
	<title>Movie Search</title>
</head>
<body>
	<h1>Movie Search</h1>
	<div>
		<form method="GET" action="/results">
			<div>Search the movie database</div>
			<div>
				<input type="text" name="q">
			</div>
			<div>
				<input type="submit">
			</div>
		</form>
	</div>
</body>
</html>