<% include ../partials/header.ejs %> 


  <form  action="/movies" method="get" role="form">
        <legend>MOVIE SEARCH</legend>

        <div class="form-group">
     
        <input type="text" class="form-control" id="" placeholder="ex. Star Trek" name="q">
        <input type="submit" value="Search"></input>  
        </div>
      </form>

<% include ../partials/footer.ejs %>