<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>OMDB Movie Search</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home<span>page</span></a>
    </nav>
  </header>
  
  <main>
    <%- body %>
  </main>
  <footer>
    <p>&copy;<small>Levin<span class="tv">TV</span> 2020</small></p>
  </footer>
</body>
</html>