<!DOCTYPE html>
<html>
<head>
  <title>Page</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style>
	body{
		background-color: turquoise;
	}
	ul {
		background-color: turquoise;
		border: 1px solid yellow;
	}
	.nav {
		list-style-type: none;
		display: inline-block;
	}
	li {
		margin: 1%;
	}
  </style>
</head>
<body>
	<!-- <ul>
    	<li class="nav"><a href="/">Favorite Foods</a></li>
    	<li class="nav"><a href="/animals">Favorite Animals</a></li>
    	<li class="nav"><a href="/Movies">Favorite Movies</a></li>
  	</ul> -->
  <%- body %>


    <script src="//code.jquery.com/jquery.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
