<!DOCTYPE html>
<html>
  <head>
    <title>Webpage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
  	<div class="container">
  		<h1> Simple Movie Search</h1>

		<div class="row">
			<form action="/movies" method="GET" role="form">

        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
          <div class="input-group">
          <input type="text" class="form-control" id="search_text" placeholder="Type a title to search here" name="q">
          <input type="hidden" name="page" value="1" id="search_hidden">
            <span class="input-group-btn">
              <button class="btn btn-default search_btn" type="submit">Go!</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->

			</form>
		</div>
  	<%- body %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/script.js"></script>
  	</div>
  </body>
</html>

