<!DOCTYPE html>
<html>
<head>
  <title>Movies</title>
  <link rel="stylesheet" type="text/css" href="/css/css.css">
</head>
<body>
  <h1>Movie Search Engine</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>

  <%- body %>

</body>
</html>
