<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OMDB Movie Search</title>
</head>
<body>
  <nav>
    <h1 style="text-align: center;"><a href="/">Home Page</a></h1>
  </nav>
  <main>
    <%- body %>
  </main>
</body>
</html>