<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <!-- <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css">
  <title>OMDB Movie Search</title> -->
</head>
<body>
  <nav>
    <h1><a href="/">OMDB Movie Search</a></h1>    
  </nav>
  <main>

    <%- body %>

  </main>
</body>
</html>