<!DOCTYPE html>
<html>
  <head>
    <title>Webpage</title>
  </head>
  <style>
  body {
    background-color: goldenrod;
  }
  div {
    background-color: white;
    border: solid black 1px;
    padding: 0px 20px;
  }

  </style>
  <body>
  <div>
  <%- body %>
 
  </div> 




  </body>
</html>