<!DOCTYPE html>
<html>
<head>
	<title>Search Movies</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Vidaloka' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
	<style>
		li {
			list-style: none;
		}
		img {
			height: 200px;
		}
		input {
			padding: 8px;
		}
		h1 {
			margin-top: 75px;
			font-family: 'Dancing Script', cursive;
			font-size: 75px;
			text-align: center;
			font-weight: bold;
		}
		form {
			text-align: center;
			margin-top: 30px;
		}
		button {
			margin-left: 15px;
		}
		.container {
			text-align: center;
			/*margin-top: 25px;*/
		}
		.panel-body {
			display: block;
		}
		.star {
			font-size: 50px;
			font-weight: bold;
			color: #f9e30f;
			float: left;
			margin-left: 40px;
		}
		#movie-info {
			margin-top: 30px;
		}
		.panel-title {
			font-family: 'Vidaloka', serif;
			font-weight: bold;
			font-size: 40px;
		}
		.panel-body {
			font-family: 'Lora', serif;
			font-size: 20px;
		}
		.well {
			font-family: 'Vidaloka', serif;
			font-weight: bold;
			font-size: 25px;
		}
		.movie-poster {
			float: left;
		}
		.star-rating {
			float: left;
		}
		.plot {
			float: left;
			width: 80%;
			margin-left: 40px;
			text-align: left;
		}

	</style>
</head>
<body>

<%- body %>

</body>
</html>