<!DOCTYPE html>
<html>
  <head>
      <title>Movie Search</title>
  </head>
  <body>
<!--     <ul>                               put spiffy navbar or something here
      <li><a href="/">Foods List</a></li>
      <li><a href="/animals">Animals</a></li>
    </ul> -->
      <%- body %>
  </body>
</html>
