<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../views/partials/head.ejs')%>  
</head>
<body>
  <header>
    <%- include('../views/partials/header.ejs')%>  
  </header>
  <nav>
    <%- include('../views/partials/nav.ejs')%>  
  </nav>
  <main>    
      <%- body %>    
  </main>
  <!-- <footer> -->
    <% //- include('../views/partials/footer.ejs')   %>
  <!-- </footer> -->
</body>
</html>