<!DOCTYPE html>
<html>
<head>
  
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <link href="/style.css" rel="stylesheet"> 
  <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
  <title>layout</title>
</head>

<body>
<div class="container">
  <div class="col-sm-12">

    <h1>OMDB Movie Search</h1>
  </div>

  <div class="col-sm-offset-1 col-sm-6">
    <form method="GET" action="/movies" class="form" role="search">
      <div class="form-group">
        <label for="">Search:</label>
        <input type="text" class="form-control" id="" placeholder="i.e. Harold and Maude" name="q">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>




  <%- body %>
  <div class="col-sm-offset-2 col-sm-8" id="foot">
   <div class="text-center">
      <i class="glyphicon glyphicon-apple"></i>
      <i class="glyphicon glyphicon-paperclip"></i>
      <i class="glyphicon glyphicon-eye-open"></i>
    </div>
    <p class="text-center">(c) Copyright 2016 Sluis Enterprises. All rights reserved.</p>
  </div>


</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>  
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  
  <script type="text/javascript" src="/script.js"></script>

</body>
</html>






