<!DOCTYPE html>
<html>
  <head>
    <title>Webpage</title>
  </head>
  <style>
  body {
    background-color: goldenrod;
    margin: 0 auto;
  }
  div {
    margin: 0 auto;
    background-color: white;
    border: solid black 1px;
    padding: 0px 20px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

  li {
    float: left;
}

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


  li a:hover {
    background-color: #111;
}
  p {
    text-align: center;
  }
  form {
    display: block;
    /*margin: 0 auto;*/
    text-align: center;
  }
  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  button {
    display: block;
    margin: 0 auto;
  }
  img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
  }
  .hidden {
    display: none;
  }
  </style>
  <body>
  <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/favorites">Favorites</a></li>
  
</ul>
  <div>
  <%- body %>
 
  </div> 


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/script.js"></script>
  </body>
</html>