<!DOCTYPE html>
<html>
<head>
  <title>Movies</title>
</head>
<body>
  <h1>Movie Search Engine</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/results">Results</a></li>
      <li><a href="/details">Details</a></li>
    </ul>
  </nav>

  <%- body %>

</body>
</html>
