<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OMDB Movie Search</title>
</head>
<body style="background-color: rgb(45, 45, 45); color:white;">
  <nav>
    <a href="/" style='color:aqua;'>home</a>
  </nav>
  <main>
    <%- body %>
  </main>
</body>
</html>