<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OMDB Movie Search</title>
</head>
<body>
  <nav>
    <a href="/">Return to Homepage</a>
  </nav>
  <main>
    <h1>OMDB Movie Search</h1>
    <%- body %>
  </main>
</body>
</html>