<!DOCTYPE html>
<html>
<head>
    <title>Results</title>
</head>
<body>
  <nav>
    <ul>
      <li style="display: inline-block;">
        <a href="/">HOME</a>
      </li>
    <ul>
  </nav>
<%- body %>
</body>
</html>
