<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OMDB Movie Search</title>
</head>
<body>
  <h1>MOVIE STUFF</h1>
  <nav>
    <a href="/">Home</a>
    <!-- <a href='/results'>Results</a> -->
  </nav>
  <main>
    <%- body %>
  </main>
</body>
</html>