<!DOCTYPE html>
<html>
<head>
  
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <link href="/style.css" rel="stylesheet"> 
  <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
  <title>layout</title>
</head>

<body>




  <%- include header %>

  <%- body %>

  <%- include footer %>
  



 

</body>
</html>






