<!-- <!DOCTYPE html>
<html>
<head>
  <title>LAYOUT</title>
</head>

<body>

  <a href="/pineapples">Pineapple Facts</a>
  <a href="/">Favorite Animals</a>

  <%- body %>

</body>
</html> -->




<!DOCTYPE html>
<html>
<head>
  <title>MOVIE SEARCH</title>
</head>

<body>

<h1> MOVIE SEARCH </h1>



<form method="POST" action="/results">
<!--   <label for="searchTerm">Search For</label> -->
  <input type="text" name="search" placeholder="Enter Movie Name">

  
  <input type="submit">
</form>


</body>

</html>