<!DOCTYPE html>
<html>
<head>
	<title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>

	<div class='container'>
		<h1 class='text-center'>IMDB SEARCH</h1>
		
		<%- body%>
		<hr>
<!-- 		<a href='/' class='btn btn-primary'>Home</a>
		<a href='/teams' class='btn btn-success'>Teams</a>
		<a href='/teams/new' class='btn btn-info'>Make a New Team</a> -->
	</div>

<script src="//code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src='/main.js'></script>
</body>
</html>