<!DOCTYPE html>
<html>
<head>
  <title>omdb movie search</title>
</head>
<body>

<h1>omdb movie search</h1>

<nav>
  <ul>
    <li><a href="/">New search</a></li>
    <li><a href="http://www.omdbapi.com/">About this API</a></li>
  </ul>  
</nav>


<%- body %>
</body>
</html>