<!DOCTYPE html>
<html>
<head>
  <title>OMDB Movie Searcher</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
</head>
<body>
  <h1 class="text-center">Movie Searcher</h1>
    <%- body %>
    <hr>
  <script src="//code.jquery.com/jquery.js"></script>
</body>
</html>
