<!-- <div class="jumbotron">
    <h1>Welcome to the Movie Web Site</h1>
  </div>
  <div class="row">
  <div class="col-lg-12">
    <a href="#" class="thumbnail">
      <img src="https://newyorksightseeingtours.files.wordpress.com/2014/01/movie-theater.jpg" alt="...">
    </a>
  </div>
</div>
 -->
