<h1>OMDB</h1>

<form action="/results" method="GET">
  <div class="form-group">
    <input type="text" name="searchTerm" placeholder="ex. Star Wars" required class="form-control">
  </div>
  <input type="submit" class="btn btn-primary">
</form>
