<div class="wrapper-results">
	<div class="movie-details">
		<h1> <%= movie.Title %> </h1>
		<p><b>Year:</b> <%= movie.Year %></p>
		<p><b>Rated:</b> <%= movie.Rated %></p>
		<p><b>IMDB Rating:</b> <%= movie.imdbRating %></p>
	</div>
</div>
