<h1 class="main">Search for a Movie</h1>

<form action="/movies" method="GET">
  <div class="mSearch">
    <input type="text" name="q" placeholder="Search">
    <button type="submit">Submit</button>
  </div>
</form>




