<h1>Welcome to Movie Search!</h1>

<form action="/movies/show" method="GET" role="form">
  <legend>Search For Movies</legend>

  <div class="form-group">
    <label for="">Search</label>
    <input type="text" class="form-control" id="" placeholder="ex. Back to the Future" name="q"></input>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>

</form>
