<!DOCTYPE html>
<html>
<head>
	<title>Movie</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
		<h1><%= movie.Title %></h1>

		<p><%= movie.Plot %></p>

		<p>imdb Rating: <%= Math.floor(movie.imdbRating) %> </p>

		<p>Rotten Tomato Rating: <%= movie.tomatoRating %> </p>
	
</body>
</html>