<div class='container text-center'>
	<div class='well in-line'>
		<p>Title:</p>
	 	<h1><%= movieData.Title %></h1>
	</div>
	<div class='well in-line'>
		<p>Plot:</p>
		<h2><%= movieData.Plot %></h2>
	</div>
</div>