<div class="col-sm-12">
  <ul>
    <h4> Results:</h4>
    <ul class="title">
      <% movies.forEach(function(movie) { %>
      <li><a href="<%= '/movies/' + movie.imdbID + '/?q=' + q %>"><h3><%= movie.Title %></h3></a></li>
      <% }); %>
</ul>
</div> 