
<% results.forEach(function(q) { %>
	<div class="container" id="movie-results">
		<div class="col-md-10 col-md-offset-1">
			<div class="well well-sm">
				<a href="/movies/<%= q.imdbID %>"><%= q.Title %> (<%= q.Year %>)</a>
			</div>		
		</div>
	</div>
<% }); %>



		

		
