<!-- <ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="&larr;">Back to your search results</a></li>
</ol> -->

<h1>Movie details</h1>
	<p>
		Year: <%= movie.Year %>
	</p>
	<p>
		Rated: <%= movie.Rated %>
	</p>
	<p>
		IMDB Rating: <%= movie.imdbRating %>
	</p>
