
<div class='container'>
	<form method='get' action='/results'>
	<div class='row'>
	<div class=''>
		<div class='form-group text-center'>
			<label for='name' class='text-center'>Search for a Movie:</label>
			<input type='text' name="name" id='name' class='form control' placeholder='search for a movie'>
		</div>
	</div>
	</div>	
	<div class='row'>
		<input type='submit' value='SEARCH' class='btn btn-success btn-block'>
	</div>
	</form>
</div>