<!DOCTYPE html>
<html>
<head>
	<title>Michael's OMDB Movie Search</title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<!-- Latest compiled and minified CSS -- -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- <!-- Latest compiled and minified JavaScript -- -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div class="container">
	<h1><%= fav.title %><h1>
	<h2>Tags:</h2>
	<div class="well">
		<h3>Add Tag:</h3>
		<form action="/favorites/<%=fav.id %>/tags" method="POST">
		<p>Tag:</p>
		<input type="text" name="tag" placeholder="Ex: funny" size=
		"50"/><br>
		<button type="submit" id="tagsubmit" class="btn btn-warning">Add Tag</button>
		</form>
	</div>
<div class="home"><a href="/">&larr;Home</a></div>
</div>
</body>
</html>