<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>


<h1><%= results.Title %></h1>


<a href="https://www.imdb.com/title/<%=results.imdbID%>/">click for more info about <%=results.Title%></a>