<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>

<% movies.forEach(m => { %>
    <a href="/movies/<%= m.imdbID%>">
    <h2><%= m.Title %> </h2>
    <img id='result-poster' src="<%= m.Poster %>" alt="Poster">
    <p><small>Click for film details</small></p>
    </a>
<% }) %> 