<h2>Films</h2>
<% data.forEach(t => { %>
    <div>
        <a href="/movies/<%= t.imdbID %>" ><%= t.Title%></a>
        <h2> (<%= t.Year %>)</h2>
        <img src="<%= t.Poster %> " alt="Poster">
    </div>
<% }) %> 

