<% // Render your search results here %>

 <h2> <%= title  %>: is the movie name </h2>
 <h2> <%= rating %>: is the move rating </h2>
 
 <a href="/search/details?"> click here for more details</a>

<% // This is how to do comments in EJS, by the way... %>
