  <% searchResults.forEach(s => { %>
  <div>
    <a href="/movies/<%= s.imdbID %>">
    <h2><%= s.Title  %> (<%= s.Year %>) </h2>
    <img src="<%=s.Poster%>" alt="Poster">
    </a>
  </div>
  <% }) %>
