<h1>Movie Results</h1>
<% movies.forEach((movie)=>{ %>
    <div>
        <a href="movies/<%= movie.imdbID %>">
            <%= movie.Title %> 
            <br /> 
            <img src="<%= movie.Poster %>" alt="movie poster">
        </a>
    </div>
<% }) %> 