<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>

<h1>Search results for "<%= input %>": </h1>

<% movies.forEach(movie =>{ %>
    <div>
        
        <h2><a href="/movies/<%= movie.imdbID %> "><%= movie.Title %> </a></h2>
        <h3>Release Year: <%= movie.Year %> </h3>
        __________________________________________
    </div>
<% }) %> 