<!DOCTYPE html>
<html>
<head>
  <title>Movie results</title>
</head>
<body>
  <h2>Star Wars Results</h2>
  <ul>
    <% results.forEach(function(data){ %>
      <li><%= data.Title %></li>
    <% }); %>
  </ul>
</body>
</html>