<h1>Your Search Results:</h1>

<% movies.Search.forEach(function(movie, idx) { %> 
    <div class="well">
      <h3><%= movie.Title %></h3>
      <p class="lead"> Release Year: <%= movie.Year %></p>
      <p class="lead"> imdbID: <%= movie.imdbID %></p>
      <p class="lead text-capitalize"> Type: <%= movie.Type %></p>
    </div>

<% }); %>