<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>
<h2>Here's the results of your search:</h2>
<ul>
  <% data["Search"].forEach(movie => { %>
  <li>
    <strong><%= movie["Title"] %></strong>
    Year: <%= movie["Year"] %>
    </br>
    <% //Ok eventually I should go back and refactor this so if the results for the poster are N/A it displays 'not available' and doesnt render a broken image %>
    <img src="<%= movie["Poster"] %>">
  </br>
    <a href="/movies/<%= movie["imdbID"] %>"> More Info</a>
  </li>

  <% }) %>
</ul>
