<% include ../partials/header.ejs %>
<div class="row">
<div class="col-md-6 col-md-offset-2">
<h1>RESULTS</h1>
  <% results.forEach(function(result){ %>
    <% include ../partials/movie.ejs %>
  <% }); %>
</div>
</div>
<% include ../partials/footer.ejs %>