<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>
<h1>Movie Results:</h1>
<ul>
    <% results.forEach(result => { %>
        <li><a href="/movies?i=<%=result.imdbID%>"><%=result.Title%></a></li>
    <% }) %>
</ul>