<% include partials/header %>

<div class="jumbotron">
  <h1 class="text-center">Search Results</h1>
  <h4 class="text-center">
    <%= mediaType %> about "<%= searchTerm %>"
  </h4>
</div>

<div class="container" style="max-width: 400px">

  <% if (!searchResults) { %>
    <h4 class="text-center">No Results Found!</h4>

  <% } else { %>
    <ul>
      <% searchResults.forEach(function(item) { %>
        <li> <%= item.Title %> (<%= item.Year %>) </li>
      <% }); %>
    </ul>
  <% } %>


  <a href="/" class="text-center" style="display: block;">  Back to Search
  </a>

</div>

<% include partials/footer %>