<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>
<h2> Movies Matching Your Search</h2>
    <ol>
   <%movies.forEach(movie =>{ %> 
         <a href="details.movie.imdbID" >
            <li ><%=movie.Title%> </li>
             </a>
          <%  }) %> 
     </ol>