<% results.forEach(res => { %>
    <h1 class="movieTitle"><%= res.Title %></h1>
    <ul>
        <li><img src="<%= res.Poster %>" /></li>
        <li>IMDB Link: <a href="/movies/<%= res.imdbID %>">More Info</a></li>
    </ul>
<% }) %>