<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>APIs and Express</title>
  </head>
  <body>
    <% movies.forEach(function(movie){ %>
    <h1><%= movie.Title %></h1>
    <% if (movie.Poster !== "N/A") { %>
    <img src="<%= movie.Poster %>">
    <% } else { %>
    <p>No image to display</p>
    <% } %>
   <% }); %>
  </body>
</html>
