<h1>Results</h1>

<% movies.forEach(function(movie, idx) { %>
  <div class="well">
    <h2>
      <a href="/movies/<%= movie.imdbID %>">
        <%= movie.Title %>
      </a>
    </h2>
  </div>
<% }); %>
