<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>

<% movies.forEach(e =>{ %>
    <div>
        <a href = "movies/<%= e.imdbID%>"
        <h2><%= e.Title %> (<%=e.Year%>)</h2>
    </div>
<% }) %>    