//Render your Search results here %>
// this is show to do comments in EJS, by the wey
<ul>
    <% results.forEach(m=>{ %>
        <a href="/movies/<%=m.imID
    <li><% m.title %></li>

     <% }) %>
</ul>