<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Here are my movies</h1>
    <% movies.forEach(function(movie) { %>
        <a href="/movie/<%= movie.imdbID %>">
            <p><%= movie.Title %></p>
            <img src="<%= movie.Poster %>">
        </a>
    <% }); %>
</body>
</html>