<h1>Movies</h1>
<% if (searchResults) { %> <% searchResults.forEach(s => {%>

<div>
  <a href="/movies/<%= s.imdbID %> ">
    <h2><%= s.Title %></h2>
    <img src="<%=s.Poster%>" alt="Poster" />
  </a>
</div>

<% }); %> <% } else { %>
<div>No movie found... Sorry.</div>
<% } %>
