<div>

<ul id="search-results">

  <% results.forEach(function(result) { %>
  <li>
  <img class="search-image padded-right" src="<%= result.Poster %>">
  <a href="/movies/<%= result.imdbID %>"><h3 class="inline"><%= result.Title %></h3></a>
  </li>
  <br>
  <% }); %>

</ul>

</div>