<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>

<ul>
    <% items.forEach((movie) => { %>
        <li><a href='http://localhost:3000/movie/<%= movie.imdbID %>'><%= movie.Title %></a></li>
        <img height='200px' src='<%= movie.Poster %>'>
    <% }) %>
</ul>
