<% if (movieData)
{ %>
    <% movieData.forEach(function(movie)
    { %>
        <ul>
            <li>
                <%= movie.Title %> (<%= movie.Year %>)
                <a href="/movies/<%= movie.imdbID %>">More Info</a>
            </li>
        </ul>
    <% }) %> 
<% }
else
{ %> 
    <h2>No movies available!</h2>
<% } %>
