<% movies.forEach(movie => { %>
    <ul>
        <a href="/movies/<%= movie.imdbID %>">
        <li><%= movie.Title %></li>
        </a>
        <input type="hidden" name="imdbID" value="<%= movie.imbdID %>">
    </ul>
<% }) %>
