<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>

<h2>Films</h2>
<% if (data) { %>
    <% data.forEach(t => { %>
        <div>
            <div><a href="/movies/<%= t.imdbID %>"><%= t.Title %></a></div>
            <h2><%= t.Year %></h2>
            <img src="<%= t.Poster %>" alt="Poster">
        </div>
    <% }); %>
<% } else { %>
    <div>No movie found... Sorry.</div>
<% } %>