<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>
<h2>Results for <%= input, console.loge("I DONT know shit anymore"%></h2>

<% movies.forEach(movie () => { %>
    <div>
        <h3><%= movies.data.title %></h3>
        
        <p> <%= console.log("what the f*ck are we doing out here in the middle of the desert, man?" + moivesList) %></p>

        <a href="<%= moviesList %>"></a>
    </div>
<% }) %>