
<ul>
<% if(results === undefined){ %>
    <img src="/images/notfound.jpeg" alt="">
    <% } else{ %>  
    <% results.forEach(m=>{ %>

        <h3>    
        <li>
        <a href="/movies/<%=m.imdbID%>">
        <%= m.Title %>
        </a> 
        </li>
        </h3>
        <%}) %>
    <% } %>

</ul>
