<% results.forEach(res => { %>
    <h1><%= res.Title %></h1>
    <ul>
        <li><img src="<%= res.Poster %>" style="width: 300px" /></li>
        <li>IMDB Link: <a href="/detail/<%= res.imdbID %>">More Info</a></li>
    </ul>
<% }) %>