<h1>Results</h1>
<ul>
    <% result.forEach((e) => { %>
        <li>
            <img src="<%= e.Poster %>"/>
                <div>
                    <%=e.Title %>
                </div>
                <div>
                    <%=e.Year %>
                </div>
                <div>
                    <%=e.imdbID %>
                </div>
        </li>
    <% }) %>
</ul>