<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>

<% if (data == null) { %>
    <p>No results. Please try refining your search terms.</p>
    <% } else { %>
     
    <ul>
        <% data["Search"].forEach(function(movie) { %>
        <li>
            <strong>
                <%= movie["Title"] %>
            </strong>
            - <%=movie["Year"]%>
        </li>
        <% }) %>
    </ul>
     
    <% } %>
     
    <a href="/">Search Again!</a>