<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>

<h1>Results for <%=input %></h1>

<% movie.forEach(title => { %>
<a href="/movies/<%=title.imdbID%>&apikey=e40f21b5">    
    <li> <%= title.Title %> </li>
</a>
   <% }) %>

