<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
  	<link href='https://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>
</head>
<body>
<h1>Movie Search Results</h1>

<% movies.Search.forEach(function(movies) {%>

<a href="/movies/<%= movies.imdbID%>"><p><%= movies.Title %></p></a>

<% }); %>


</body>
</html>