<%movies.forEach((movie) => { %>
    
    
    <h2><%= movie.Title %></h2>
    <a href="/detail/<%= movie.imdbID %>">
    <img src="<%=movie.Poster%>" alt="">
        <%=movie.imdbID %>
    </a

<% }) %>