
<%movies.forEach((movie) => { %>
    
  <div class="row py-5 text-center">
    <h3 class="pb-3"><%= movie.Title %></h3>
    <a href="/detail/<%= movie.imdbID %>">
    <img src="<%=movie.Poster%>" alt="">
    </a>
  </div>

<% }) %>