<!DOCTYPE>
<html>
  <head>
    <title>MOVIES OMG!</title>
  </head>
  <body>
    <h1>All Dat Movie Bidness</h1>
    <% results.forEach(function(result) { %>
      <% include ../partials/result %>
    <% }); %>
  </body>
</html>