<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>
<% data.forEach(r =>{ %>     
    <div>                 
        
        <a href="/movies/<%=r.imdbID%>"><h2 id="ti"> <%= r.Title %></h2> 
            <img src="<%=r.Poster%>" ><h3>CLICK FOR DETAILS</h3></a>

    </div> 
    <% }) %>