<% // Render your search results here %>
<ul>
    <% data.Search.forEach((movie, index) => { %>
       <li>
            <a href="/movies/<%= movie.imdbID %>"><%= movie.Title %></a>
       </li> 
    <% }) %>
</ul>


