<% // This is how to do comments in EJS, by the way... %>

<% movies.forEach(m => { %>
    <div>
        <a href="/movies/<%= m.imdbID %>">
        <h2><%= m.Title %> (<%= m.Year %>)</h2>
        <% if (m.Poster !== 'N/A') { %>
            <img src="<%= m.Poster %>" alt="poster">
        <% } else {  %>
            <p>No poster available</p>
        <% } %>
        </a>
    </div>
<% }) %>