<% // render your search results here %>
<% // this is how to comment in ejs btw %>

<h1>Search Results for</h1>
<h1><%= userSearch %></h1>

<% movies.forEach(movie => { %>
    <div>
        <h3><%= movie.Title %></h3>
        
        <p><%= movie.year %></p>



        <a href="/movies/<%= movie.imdbID %>">gimme the deets</div>a>
    </div>
})