<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>

<ul>
    <% apiData.forEach ((movie) => { %> 
        <li>
            <%= movie.Title %> | <%= movie.Year %>
        </li>
    <% }) %> 
</ul>