<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>
<% if (data) { %> 
<% data.forEach(r =>{ %>     
    <div>                 
        <a href="/movies/<%=r.imdbID%>"><h2> <%= r.Title %></h2> 
            <img src="<%=r.Poster%>" ><h2>CLICK FOR DETAILS</h2></a>
  </div> 
  <% }); %> 
  <% } else { %> 
      <div>No movie found... Sorry.</div>
  <% } %> 
  
      