<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>

<h1>OMDB Movie </h1>

<% movieArrya.forEach(element=>{%>

    <a href="movies/<%= element.imdbID %> ">

        <h4><%= element.Title %> </h4>
    </a>
    
<%}) %> 
