<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>

<h1>Results:</h1>


    <% movies.forEach(movie => { %>
        <div>
            <h2>
                <%= movie.Title %> (<%= movie.Year %>) 
                <img src="<%= movie.Poster %> " alt="Poster">
                <a href="/movies/<%= movie.imdbID %>">imdbID</a>
            </h2>
        </div>
    <% }) %> 

