<!DOCTYPE html>
<html>
  <head>
    <title>SEARCH MOVIE POSTERS</title>
  </head>
  <body>
    <h1>Search for a Movie Title</h1>
    <form method="get" action="/results">
      <label for="title"></label>
      <input type="text" name="title" value="">
      <input type="submit" value="Search">
    </form>
  </body>
</html>
