<h2 class ="text-center">OMDB SEARCH</h2>

<form method="get" action="/results">
  <div class="form-group">
    <label for="name">Search For a Movie:</label>
    <input type="text" name="movie" id="movie" class="form-control" placeholder="Movie Name">
  </div>
  <input type="submit" value="SEARCH" class="btn btn-success">
</form>
