<form method="get" action="/results"> 
	<div class="form-group">
		<label>Search Film</label>
		<input type="text" name="name" class="form-control" placeholder="seach films">
		<small id="emailHelp" class="form-text text-muted">What Film Are You Curious About?</small>
  		</div>
		<input type="submit" class="btn btn-success center-block">
	</div>
</form>