<form method="get" action="/results" class="searchMovies">
  <div class="form-group">
    <label for="movieSearch">Search for movie:</label>
    <input type="text" name="movie" id="movie" class="form-control" placeholder="Movie Title">
  </div>
  <input type="submit" value="Search" class="btn btn-primary" id="searchBox">
</form>
