<!DOCTYPE html>
<html>
<head>
    <title>Search for a Movie</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Search for a movie</h1>
    <form method="POST" action="/results">
        <label for="movie-title">Enter a movie title:</label><br>
        <input id="movie-title" type="text" name="title"><br>
        <input type="submit" value="Submit Search">
    </form>
</body>
</html>