<% include ../partials/header.ejs %>

<h1>Search for a Movie Title</h1>

<form name="get-by-search" method="get" action="/results">
  <label for="title">Title</label>
  <input type="text" name="title" value="">

  <label for="year">Year</label>
  <input type="text" name="year" value="">

  <label for="type">Type</label>
  <select class="" name="type">
    <option value="movie">movie</option>
    <option value="series">series</option>
    <option value="episode">episode</option>
  </select>

  <input type="submit" value="Search">
</form>

<form name="get-by-id" method="get" action="/results">
  <label for="title">Title</label>
  <input type="text" name="title" value="">

  <label for="imdbid">imDB ID</label>
  <input type="text" name="imdbid" value="">

  <label for="type">Type</label>
  <select class="" name="type">
    <option value="movie">movie</option>
    <option value="series">series</option>
    <option value="episode">episode</option>
  </select>

  <input type="submit" value="Search">
</form>

<% include ../partials/footer.ejs %>
