	
  <div><p><a class="btn btn-primary btn-lg" href="/" role="button">Back</a></p><div>
  <div class="container">
    <h1>Movies</h1>
    <% movieResult.Search.forEach(function(movie) { %>
      <div class="well">
        <h3>
          <a href="/show/movie/<%= movie.imdbID %>">
          <%= movie.Title %>
          </a>
        </h3>
        <p>
          <%= movie.Year %>  -  Link to page on <a href="http://www.imdb.com/title/<%= movie.imdbID %>/">www.imdb.com</a>
        </p>
      </div>
    <% }); %>
  </div>

