<% include ../partials/header.ejs %>


<div class="jumbotron" >

<div class="col-md-offset-1 col-md-3">
  <img src="<%= movie.Poster %>"/>
    </div>
</div>

<div class="col-md-offset-2 col-md-3">
  <h1> <%= movie.Title %> - (<%= movie .Year %>)</h1>

  <p><%= movie.Plot %></p>

  <a class="btn btn-primary btn-lg" href="/articles/0" role="button">RETURN TO SEARCH</a>
  </div>





<% include ../partials/footer.ejs %>