<h1>Tags</h1>

<form method="POST">
	<input type="text" name="tag" placeholder="Enter tag here">
	<input type="hidden" name="id" value="<%= favorite.id %>">
	<input type="submit" value="Submit">
</form>