<form method="POST" action="/tags">
<input type="text" name="tag" placeholder="tag name">
<input type="submit" value="submit">
</form>

<% favorite.tags.forEach(function(tag){ %>
<h3><%= tag.name %></h3>
<% }) %>