<% include ../partials/header.ejs %>
	<h1>Favorites</h1>
	<% favorites.forEach(function(movie) { %>
		<a href="/favorites/<%= movie.id %>/comments" class="btn btn-primary">Comments</a>
		<a href="/favorites/<%= movie.id %>/tags" class="btn btn-primary">Add a tag</a>
		<h4><b>Title:</b> <%= movie.title %></h4>
		<p><b>Year:</b> <%= movie.year %></p>
	<% }); %>
<% include ../partials/footer.ejs %>