<% include ../partials/header.ejs %>

<form method="POST">
	<input name="newTag" type="text" placeholder="New Tag" autofocus />
	<button type="submit">Submit</button>
</form>

<% include ../partials/footer.ejs %>