* {
    /* text-align: center; */
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

p, form, nav {
    text-align: center;
}

nav {
    margin-top: 4rem;
}

div {
    display: flex;
    align-items: center;
}

ul {
    text-align: left;
    list-style-position: inside;
    list-style-type: square;
}

.details {
    text-align: left;
    list-style-position: inside;
    list-style-type: circle;
}

a:link {
    color: blue;
    text-decoration:none;
}

a:visited {
    color: blue;
}

a:hover {
    color: hotpink;
    text-decoration: underline;
}