body {
    background-color: rgb(242, 189, 216);
}

table {
    border-collapse: collapse;
    width: 80;
    margin-bottom: 10px;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(186, 132, 160);
}

img {
    display: block;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}