* {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main-title {
    margin-top: 200px;
}

.text-field {
    font-size: 20px;
    width: 300px;
}

#submit-box {
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

li {
    text-align: left;
    margin: 40px 0 40px 0;
    display: flexbox;
}

img {
    max-width: 100px;
}