* {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main-title {
    margin-top: 200px;
}

.text-field {
    font-size: 20px;
    width: 300px;
}

#submit-box {
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin: 5px;
}

.list-item {
    margin: 5px;
}

.detail-item {
    text-align: left;
    padding: 5px;
}

a, .source-item {
    font-weight: bold;
}

img {
    max-width: 150px;
}