<% include ../partials/header.ejs%>

<div class="container-fluid ">
<h3>Contact us</h3>
<h4>Clark Kent</h4>
<h4><a href="DefinetlyNotSuperman@dailypanet.dc" target="_top">DefinetlyNotSuperman@dailypanet.dc</a></h4>
<h4>(555)555-5555</h4>
</div>

<% include ../partials/footer.ejs%>
