<div><h1>MOVIE</h1></div>
<img src="<%= movieData.Poster %>" style="width:100px; display:inline-block;"">
<div  style="display:inline-block;"><h2>
	<%= movieData.Title %>
	</h2>
	<h3>
	(<%= movieData.Year %>)
	</h3>
	<p><%= movieData.Plot %></p>
	<%});%>
</div>
<br>