<div class="col-sm-8">
<ul>
  <h4> Favorites:</h4>
  <% allFavs.forEach(function(favorite) {%>
  <h2><a href='/movies/<%= favorite.imdb_id  %>'> (<%= favorite.Year %>)<%= favorite.Title %></a><button type="button" class="btn btn-primary"></button></h2>
    <%});%> 
  </ul>
</div>


