<div>
  <ul>
     <h4> Results:</h4>
     <% results.forEach(function(result) { %>
    <h2><a href="movies/<%= result.imdbID%>"> (<%= result.Year %>) <%= result.Title%> </a> </h2> 
    <% }); %>
  </ul>
</div> 

