<% include ../partials/header.ejs %>
	<div class="wrapper">
		<form action="/results" name="movie-search" method="GET">

			<label for="title">OMDB Movie Search</label>
			<br />
			<input type="text" name="title" placeholder="Enter title" class="search-box">
			<br/ >
			<input type="submit" class="search-button" value="Go">
		</form>
	</div>
<% include ../partials/footer.ejs %>